.intro {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 10px;
}

.intro .carrot img {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    min-width: 512px;
}

.intro .tabs {
    min-width: 360px;
    position:relative;
    z-index: 99;
}

.intro .tab-button {
    font-size: 16px;
    width: 114px;
    padding: 10px 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #eee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.intro .tab-button:hover {
    background: #e67315;
    color:#fff;
}

.intro .tab-button.active {
    color:#e67315;
    background: #fff;
    font-weight: bold;
    cursor: default;
    border-bottom: 1px solid #fff;
}

.intro .tab-button.active:hover {
    color:#e67315;
}

.intro .tab-content {
    border: 1px solid #ccc;
    padding: 36px;
    min-width: 502px;
    min-height: 377px;
    display: none;
    border-radius: 8px;
    border-top-left-radius: 0;
    position:relative;
    top: -1px;
    z-index: 9;
}

.intro .tab-content.active {
    display: block;
}  

.tab-content p {
    line-height: 22px;
    margin-bottom: 14px;
}

@media (max-width: 768px) {
    .intro {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .intro .tab-content {
        min-height: auto;
    }
}